{% extends 'store/main.html'%}
{% load static %}

{%block content%}

<div class = "row">
    <div class = "col-lg-12">
        <div class = "box-element">
             <!-- 返回購物頁面的按鈕 -->
            <a class ="btn btn-outline-dark"
            href="{% url 'store' %}">&#x2190;繼續購買</a>
            <br>
            <br>
            <!-- 訂單的總數量和總金額，顯示在表格中 -->
            <table class = "table">
                <tr>
                    <th><h5>訂單總數:
                        <strong>{{order.get_cart_items}}</strong></h5></th>
                    <th><h5>共計:<strong>NT${{order.get_cart_total}}</strong></h5></th>
                    <th>
                        <!-- 前往結帳頁面 -->
                        <a style = "float:right; margin:5px"
                        class = "btn btn-success" href = "{%url 'checkout'%}">去結帳</a>
                    </th>
                </tr>
            </table>
        </div>

        <br>
        <!-- 顯示購物車商品的詳細資訊 -->
        <div class = "box-element">
            <div class = "cart-row">
                <div style = "flex:2"></div>
                <div style = "flex:2"><strong>訂單</strong></div>
                <div style = "flex:1"><strong>價格</strong></div>
                <div style = "flex:1"><strong>數量</strong></div>
                <div style = "flex:1"><strong>金額</strong></div>
            </div>

            {% for item in items %}
            <div class = "cart-row">
                <!-- 顯示商品圖片 -->
                <div style = "flex:2"><img class = "row-image" src="{{ item.product.imageURL }}"></div>
                <!-- 顯示商品名稱 -->
                <div style = "flex:2"><p>{{item.product.name}}</p></div>
                <!-- 顯示商品價格 -->
                <div style = "flex:1"><p>NT${{item.product.price}}</p></div>
                <!-- 顯示商品數量 -->
                <div style = "flex:1">
                    <p class = "quantity">{{item.quantity}}</p>

                    <!-- 顯示商品數量變更的按鈕，點擊上箭頭增加數量，點擊下箭頭減少數量 -->
                    <div class = "quantity">
                        <img data-product = {{item.product.id}} data-action = "add"
                        class = "chg-quantity update-cart" src = "{% static 'images/arrow-up.png'%}">
                        <img data-product = {{item.product.id}} data-action = "remove"
                        class = "chg-quantity update-cart" src = "{% static 'images/arrow-down.png'%}">
                    </div>
                </div>
                <!-- 顯示該商品總價 -->
                <div style = "flex:1">NT${{item.get_total}}</div>
            </div>
            {% endfor %}

        </div>
    </div>

</div>
{%endblock content%}